*
{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #444;
	color: #FFF;
}

#container
{
	max-width: 1280px;
	margin: 1px auto;
	padding: 10px;
}

h1
{
	font-size: 22px;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.title
{
	margin-bottom: 10px;
	text-transform: uppercase;
}

hr
{
	width: 10%;
	color: #f27609;
	margin-bottom: 10px;
}

p
{
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
	color: white;
	font-weight: 100;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h3
{
	color: #f27609;
	text-transform: uppercase;
}

.dados
{
	width: 100%;
}

.dados figure
{

	float: left;
	margin-bottom: 20px;
}

.dados img
{
	width: 100%;
	height: auto;
	border-radius: 3%;
}

.dados-pessoais
{
	width: 62%;
	float: right;
}

.sobre
{
	clear: both;
}

.experiencia
{
	margin-bottom: 30px;
}

a
{
	color: #FFF;
}

footer
{
	width: auto;
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color: #f27609;
	height: 56px;
}
/*Medias Queries*/

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) 
{ 
   /* estilos aqui */
 
	.dados-pessoais
	{
		float: none;
	}
   
}

/* Telefones em paisagem a tablet em retrato */
@media (min-width: 481px) and (max-width: 767px) 
{
    /* estilos aqui */ 
    .dados-pessoais
	{
		float: none;
	}       
     
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) 
{
    /* estilos aqui */
    .dados-pessoais
	{
		float: none;
	}
  
}

/* Desktop grande */
@media (min-width: 1200px) 
{
    /* estilos aqui */

}
